.container-fluid{
    background-color: black;
    color: white;
    padding-left: 0px !important;
    padding-right: 0px !important;
} 

.text-start a{

    color: aliceblue;
}
.topbar-right {
    position: relative;
    background: var(--primary);
    display: inline-flex;
    align-items: center;
}

.topbar-right::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 100%;
    top: 0;
    left: -15px;
    transform: skewX(-30deg);
    background-color: var(--primary);
}